@model IEnumerable<ServiceGateways.Entities.GlobalGoal>


<div class="jumbotron sm-jumbo">
    <h4 style="margin-top:0px;">OVERSIGT - VERDENSMÅL</h4>
    <div class="edit-btns" style="display:block" align="right">
        <button onclick="location.href='@Url.Action("Index", "GlobalGoal")'" type="button" class="btn-sm btn-labeled btn-primary remove-border-radius-border">
            <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>Opret nyt Verdensmål
        </button>
        <button onclick="location.href='@Url.Action("Update", "FrontPage", new { id = 1 })'" type="button" class="btn-sm  btn-labeled btn-primary remove-border-radius-border">
            <span class="btn-label"><i class="glyphicon glyphicon-pencil"></i></span>Rediger Forside
        </button>
    </div>
    <hr style="border: 0.5px solid black;" />
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Titel</th>
                <th style="text-align: center; width:11%;">Børns Kunst</th>
                <th style="text-align: center; width:11%;">Børns Tekster</th>
                <th style="text-align: center; width:11%;">Musik/Video</th>
                <th style="text-align: center; width:11%;">Landart</th>
                <th style="width:10%;"></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @foreach (var title in item.Translation.TranslatedTexts.Where(x => x.LanguageISO == "da"))
                        {
                            <a href="@Url.Action("Update", "GlobalGoal", new { id = item.Id })"> @title.Title</a>
                        }
                    </td>
                    @if (item.Artworks.Count != 0)
                    {
                        <td style="text-align: center"><i class="material-icons">done</i></td>
                    }
                    else
                    {
                        <td style="text-align: center"><i class="material-icons">clear</i></td>
                    }
                    @if (item.ChildrensTexts.Count != 0)
                    {
                        <td style="text-align: center"><i class="material-icons">done</i></td>
                    }
                    else
                    {
                        <td style="text-align: center"><i class="material-icons">clear</i></td>
                    }
                    @if (item.AudioVideo != null)
                    {
                        <td style="text-align: center"><i class="material-icons">done</i></td>
                    }
                    else
                    {
                        <td style="text-align: center"><i class="material-icons">clear</i></td>
                    }
                    @if (item.LandArts.Count != 0)
                    {
                        <td style="text-align: center"><i class="material-icons">done</i></td>
                    }
                    else
                    {
                        <td style="text-align: center"><i class="material-icons">clear</i></td>
                    }
                    <td>
                        @using (Html.BeginForm("Delete", "GlobalGoal", FormMethod.Post))
                        {
                            <input type="hidden" name="id" value="@item.Id" />
                            <button onClick="return confirm('Er du sikker på du vil slette?');" type="submit" class="btn-sm btn-labeled btn-danger remove-border-radius-border">
                                <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>Slet
                            </button>
                        }
                    </td>
                    <td style="width:14%;">
                        @using (Html.BeginForm("TogglePublished", "Home", FormMethod.Get))
                        {
                            <input type="hidden" name="id" value="@item.Id" />
                            if (item.IsPublished == true)
                            {
                                <button type="submit" class="btn-sm btn-labeled btn-warning remove-border-radius-border" style="width:100%;">
                                    <span class="btn-label" style="left:-16px;"><i class="glyphicon glyphicon-minus"></i></span>Unpublish
                                </button>                                
                            }
                            else
                            {
                                <button type="submit" class="btn-sm btn-labeled btn-success remove-border-radius-border" style="width:100%;">
                                    <span class="btn-label" style="left:-24px;"><i class="glyphicon glyphicon-plus"></i></span>Publish
                                </button>                                
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>