@model VerVad_Web.ViewModels.Artworks.ArtworkIndexModel

@section scripts {
    <script>
        $(function () {
            $("#createArtworkButton").click(function () {
                $.ajax({
                    url: "@Url.Action("Create")?gg_id=@Model.GlobalGoalId",
                    method: "get",
                success: function (data) {
                    $("#artworkModalContainer").empty().append(data);
                    $("#artwork").modal();
                }
            });
       });

          $(".update-link").click(function (event) {
              event.preventDefault();
              var id = $(this).data("id");
              $.ajax({
                  url: "@Url.Action("Update")?id=" + id,
                  method: "get",
                success: function (data) {
                    $("#artworkModalContainer").empty().append(data);
                    $("#artwork").modal();
                }
            });
        });

    });
    </script>
}
<div class="jumbotron sm-jumbo">
    <h4 style="margin-top:0px;">OVERSIGT - BØRNS KUNSTVÆRKER</h4>
    <div class="edit-btns" style="display:block" align="right">
        <!-- Button trigger modal -->
        <button id="createArtworkButton" type="button" class="btn-sm btn-labeled btn-primary remove-border-radius-border">
            <span class="btn-label"><i class="glyphicon glyphicon-plus"></i></span>Tilføj ny
        </button>
    </div>
    <hr style="border: 0.5px solid black;" />
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>@*tom header til billede*@</th>
                <th>Titel</th>
                <th>Tekst</th>
                <th>@*tom header til delete knap*@</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Artworks)
            {
                var translation = item.Translation.TranslatedTexts.FirstOrDefault(x => x.LanguageISO == "da");
                <tr>
                    <td style="width: 100px;">
                        <a href="" class="update-link" data-id="@item.Id"><img style="max-width:100px;" src="@item.ImgUrl" /></a>
                    </td>
                    <td style="width: auto;">@translation.Title</td>
                    <td style="width: auto;">@translation.Description</td>
                    <td style="width: 10%;">
                        @using (Html.BeginForm("Delete", "Artwork", FormMethod.Post))
                        {   <input type="hidden" name="id" value="@item.Id" />
                        <input type="hidden" name="gg_id" value="@item.GlobalGoalId" />
                        <button onClick="return confirm('Er du sikker på du vil slette?');" type="submit" class="btn-sm btn-labeled btn-danger remove-border-radius-border">
                            <span class="btn-label"><i class="glyphicon glyphicon-trash"></i></span>Slet
                        </button>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="@Url.Action("Update", "GlobalGoal", new { id = Model.GlobalGoalId })">Tilbage</a>
</div>

<div id="artworkModalContainer"></div>